__pycache__
.idea
.DS_Store
*.egg-info
build
outputs
dist/*
.vscode
.vs

# data
data
out
wandb

torchtitan/datasets/**/*.model

# tokenizer models
assets/**/*.model
assets/**/*.json
assets/**/*.txt
torchtitan/experiments/flux/assets/*

# temp files
*.log
error.json
_remote_module_non_scriptable.py

env

nsys-res/*
topology.xml
trace_analysis

# Editor temporaries (VIM)
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~
.~lock.*

# macOS dir files
.DS_Store

# trace
trace_collection/*/*.json
trace_collection_backlog/*/*.json
trace_collection_backlog/*/*/*.json

trace_collection_bad/*/*.json
trace_collection_bad/*/*/*.json
trace_collection_bad/*/*/*
.json
*.nsys-rep
*.sqlite
*.zip
tmp* 
*.json.gz

API_KEY

# claude
tools/pytorch_docs

# upload server
upload_server/venv/
upload_server/server-basic.py
upload_server/uploads/
venv/