---
default_language_version:
  python: python3.10.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: name-tests-test
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args:
          - --shell=bash
          - --severity=style
          - --external-sources
          - --enable=all
        types_or: [shell, file]
        files: \.(sh|sbatch)$

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        types_or: [shell, file]
        files: \.(sh|sbatch)$
        args:
          - --language-dialect=bash
          - --indent=0
          - --binary-next-line
          - --case-indent
          - --space-redirects
          - --keep-padding
          - --simplify
          - --write

  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.19.0
    hooks:
      - id: yamlfix
        exclude: ^\.github/dependabot\.yml$
  - repo: https://github.com/ITProKyle/pre-commit-hook-yamlfmt
    rev: v0.4.0
    hooks:
      - id: yamlfmt
        files: ^.*\.(yml|yaml)$
        exclude: ^\.github/dependabot\.yml$
        args:
          - --mapping
          - '2'
          - --sequence
          - '4'
          - --offset
          - '2'
          - --width
          - '80'
          - --no-implicit-start
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        files: ^.*\.(yml|yaml)$
        exclude: ^\.github/dependabot\.yml$
        args: [--format=parsable, --strict]

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint
